{% if f.final_ext() == ".html" -%}
{% set image_ext = "svg" -%}
{% else -%}
{% set image_ext = "eps" -%}
{% endif -%}

{% macro code(basename) -%}
{% if f.final_ext() == '.html' %}
.. raw:: html

    {{ d[basename + '|h'] | indent(4) }}

{% else %}
.. raw:: latex

    {{ d[basename + '|l'] | indent(4) }}

{% endif %}
{%- endmacro %}

{% macro codes(basename, section) -%}
{% if f.final_ext() == '.html' %}
.. raw:: html

    {{ d[basename + '|h'][section] | indent(4) }}

{% else %}
.. raw:: latex

    {{ d[basename + '|l'][section] | indent(4) }}

{% endif %}
{%- endmacro %}
